NEXT_PUBLIC_APP_NAME=CaseSnap
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_BACKEND_URL=https://casesnapbackend.onrender.com/
NEXT_PUBLIC_APP_DESCRIPTION=Best Lawyer Case Management Software for Law Firms in India
NEXT_PUBLIC_RESPONSE_ENCRYPTION_KEY=
